.wrapper {
    background-color: rgb(235, 235, 235);
    min-height: 100vh;
}

.card-header-tabs {
    border-bottom: 1px solid #dee2e6 !important; 
    margin: 1px !important;
}

.tabs-customized .nav-link {
    color: grey !important;
}

.tabs-customized .nav-link.active {
    color: #dc3545 !important;
    font-weight: 700;
}

.pointer-on-hover-div:hover {
    cursor: pointer;
}

.timing:hover {
    border-color: #dc3545 !important;
}